#* @vtlvariable name="action" type="com.atlassian.jira.plugins.importer.github.web.WorkflowPage" *#
#disable_html_escaping()
$webResourceManager.requireResource("com.atlassian.jira.plugins.jira-importers-github-plugin:webResources")
#parse('/templates/admin/views/common/import-header.vm')

<p>$i18n.getText('com.atlassian.jira.plugins.importer.github.workflow.intro')</p>

## workflow scheme selection
<div>
    #set ($auiparams = $map.build('label', $i18n.getText('admin.projects.workflow.scheme'), 'name', $action.schemeSelectId))
    #set ($auiparams.map = $action.workflowSchemeValues)
    #set ($auiparams.headerrow = $i18n.getText('com.atlassian.jira.plugins.importer.github.workflow.scheme.select'))
    #set ($auiparams.headervalue = '')
    #set ($auiparams.value = $action.selectedWorkflowSchemeKey)
    #parse("/templates/standard/select.vm")
</div>

<div class="workflowMappingsContainer hidden">
    <table class="aui jim-table">
        <thead>
        <tr>
            <th class="padded-column">$i18n.getText('com.atlassian.jira.plugins.importer.github.workflow.th.workflow')</th>
            <th>$i18n.getText('com.atlassian.jira.plugins.importer.github.workflow.th.githubState')</th>
            <th class="righarrowcolumn"></th>
            <th>$i18n.getText('com.atlassian.jira.plugins.importer.github.workflow.th.jiraStatus')</th>
        </tr>
        </thead>
        <tbody id="mappings"></tbody>
    </table>
</div>

<span id="statusMappingJSON" class="hidden">$textutils.htmlEncode($action.statusMappingJSON)</span>

<script>
    (function($) {
        $(function() {
            AJS.GithubImporter.Workflow.statusMapping = JSON.parse($("#statusMappingJSON").text());

            var selectElement = $("#$action.schemeSelectId");  // no XSS threat - a constant value defined by the plugin
            selectElement.change(function(event){
                AJS.GithubImporter.Workflow.schemeSelect(selectElement);
            });
            AJS.GithubImporter.Workflow.schemeSelect(selectElement);
        });
    })(AJS.$);
</script>

#parse('/templates/admin/views/common/import-footer.vm')